@import "bootstrap-sprockets";

@import "bootstrap";

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  letter-spacing: -1px;
  font-weight: bold;
}

.login-badge {
  border: 1px;
}
