@import "bootstrap-sprockets";

@import "bootstrap";

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  letter-spacing: -1px;
  font-weight: bold;
}

.login-badge {
  border: 1px;
}

.login-box {
  border: 1px solid black;
  position: absolute;
  background: #f2f2f2;
  border-radius: 2px;
  width: 30%;
  height: 45%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box-content {
  position: relative;
  padding-top: 5px;
  top: 150px;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
}

#nav-bar-icon {
  border: 1px solid black;
  height: 30px;
  vertical-align: middle;
}


.item-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f2f2f2;
  margin: 25px;
  height: 100%;
  width: 45%;
  min-height: 0px;
  padding: 0em;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  z-index: '';
}

.item-content {
  position: relative;
  border-top: 1px solid black;
  width: 100%;
  height: 35%;
  top: 65%;
}

.item-name {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  padding: 8px;
}

.item-description {
  text-align: left;
  padding: 8px;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.item-price {
  text-align: right;
  padding: 8px;
  padding-top: 5px;
}

.item-add-cart {
  height: 100%;
  vertical-align: bottom;
}

.ui.four.cards > .item-container {
  width: calc( 25%  -  1.5em );
  margin-left: 0.75em;
  margin-right: 0.75em;
}
