<h1>Dinner Dash</h1>
<<<<<<< HEAD
<p>
[<%= link_to 'Sign up', signup_path %> |
<%= link_to 'Novo item', new_item_path %>]
</p>
=======
<%= link_to 'Items list', controller: 'items' %>
>>>>>>> origin/igor
