<h1>Listing categories</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Items</th>
  </tr>

  <% @categories.order('name').each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category)  %></td>
      <td>
      	<% category.item_ids.each do |item_id| %>
          <% @items << Item.find(item_id).name %>
        <% end %>

        <% @items = @items.sort %>

        <% @items.each do |itemName| %>
          <%= link_to itemName, item_path(Item.find_by_name(itemName)) %>
          <% if itemName != @items.last %>
            <span>|</span>
          <% end %>
        <% end %>

        <% @items.clear %> 
      </td>
  <% end %>
</table>
<br>

[<%= link_to 'New category|', new_category_path if isAdmin? %> <%= link_to 'Voltar', root_path %>]
