<h1 align = "center">Listing categories</h1>

<div class="ui container-fluid" align='center'>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Items</th>
    </tr>

    <% @categories.order('name').each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category), class:"btn btn-success" %></td>
        <td>
        	<% category.item_ids.each do |item_id| %>
            <% @items << Item.find(item_id).name %>
          <% end %>

          <% @items = @items.sort %>

          <% @items.each do |itemName| %>
            <span class = "label label-info"><%= link_to itemName, item_path(Item.find_by_name(itemName)) %></span>
          <% end %>

          <% @items.clear %>
        </td>
    <% end %>
  </table>
  <br>

</div>
<div align = "center">
  <%= link_to 'Voltar', root_path, class: "btn btn-primary" %> <%= link_to 'New category', new_category_path, class: "btn btn-primary" if isAdmin? %> 
</div>
